$yellow_star: #fecd6d;
$white: #fff;
$button_text: #797874;
$button_border: #e5e5e5;
$button_shadow: #ccc;

body {
  font-family: 'Roboto';
}

.fa-star, .fa-star-half {
  color: $yellow_star;
  font-size: 1.2em;
  height: 1em;
}

.review-button {
  background-color: $white;
  color: $button_text;
  padding: 8px 14px;
  border: 0.1rem solid $button_border;
  border-radius: 5px;
  box-shadow: 0px 0.5px $button_shadow;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;

  .content {
    margin-top: 2em;

    .rating {
      margin-top: 1.8em;
      margin-bottom: 2.2em;
      font-weight: 400;
      display: flex;
      justify-content: space-between;

      .rating-inner {
        display: flex;

        .rating-number {
          font-size: 1.6em;
        }

        .rating-stars {
          margin-left: 1em;
          .fa-star, .fa-star-half {
            vertical-align: -0.45em;
          }
        }
      }
    }

    .add-review {
      margin-top: -0.2em;
    }

    h2 {
      margin-top: 1.2em;
      margin-bottom: 1em;
      font-weight: 700;
      margin-left: -1%;
    }

    #reviews-list {
      margin-left: -1%;
    }

    .review-row {
      display: flex;
      margin-bottom: 1.6em;

      .review-row-number {
        margin-left: 1em;
        font-weight: 500;
      }

      .review-row-text {
        color: $button_text;
      }
    }
  }
}
